body{
    text-align: center;
    background-color: #e7e6f7;
    color: rgb(0, 0, 0);
    margin-right: 5%;
    margin-left: 5%;
}

div{
    font-size: large;
}

.titulo{
    font: 40px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: inline-block;
    width: 100%;
    height: auto;
    width: 750px; 
}


 
 