body{
    text-align: center;
    background-color:#d5f1fc ;
    color: rgb(0, 0, 0);
   
}

div{
    font-size: large;
}

.titulo{
    font: 30px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: inline-block;
    height: auto;
    height: 600px;
    width: 600px; 
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%; /* Torna imagem em circular*/
    object-fit: cover;
}
 
 